[2013-07-24 17:16] purplespider opened #2 "Catchable fatal error: Argument 1 passed to FocusPointImage::generateCroppedFocusedImage()"
I've been sporadically getting the following error when using this module with the latest version of 3.1.

[code]

At one point it was happening every time I tried to flush, but then it started always happening on different pages, so I had to remove the module.

Any ideas?

[2013-12-18 15:54] thomasbnielsen opened #3 "I18 issue with decimals"
Found a problem where the values saved to DB was without the . for delimeters.

I had used setlocale(LC_ALL, 'da_DK'); in my_config.php to change all language settings to Danish. This causes the values to be incorrectly saved to DB without the decimal delimeter.

BTW: thank you for a very nice module - i use it for all my projects :o)

[2014-02-18 16:06] lozcalver opened #4 "Changing focus point doesn't generate a new image"
If a user uploads an image, picks a focus point and the image is generated, they can't then change the focus point without deleting and re-uploading the image (or a dev running the flush images task).

Quite a minor issue, given that users can simply delete and re-upload the image (which is probably the first thing they’d try if they saw it hadn’t regenerated), but would be nice to fix.

Can be ‘f

[2014-02-19 22:06] #2 closed, assigned to nobody

[2014-02-19 22:36] #4 closed, assigned to nobody

[2014-03-03 20:53] pinkp opened #5 "When using it with Silverstripe Gallery it does not save"
I've just installed this and it shows in the CMS and works with images in the Files area. However when using it with the Gallery module: https://github.com/frankmullenger/silverstripe-gallery
The focus point does not save. You can move it but after clicking save it defaults back to the centre. I realise this is not an issue with this module directly but an incompatibility issue. Any advice on this

[2014-09-16 10:33] wernerkrauss opened #6 "Extend GDBackend to overwrite croppedImage"
How about extending GDBackend class and overwrite croppedresize there to automatically add the great functionality?

[2014-11-17 13:41] wernerkrauss opened #9 "Please use git tags for versions"
As this module is very popular please use tags for versioning the module and if possible semantic versioning. This way updating your great module becomes much easier than just using dev-master branch.

[2014-11-18 07:47] #9 closed, assigned to nobody

[2014-12-04 21:13] #5 closed, assigned to nobody

[2014-12-16 12:08] adamjudd opened #11 "Add support for Image::$force_resample"
Silverstripe 3.1.6 added `$force_resample` to Image - which allows you to - as the name suggests, force an image to be resampled, even if it otherwise wouldn't be. I was going to add in a pull request, but it would have forced the minimum requirement up, so thought I'd just post an issue instead.

You can see the variable being added to the framework here: https://github.com/silverstripe/silverstr

[2014-12-18 05:22] #11 closed, assigned to nobody

[2014-12-18 09:02] #3 closed, assigned to nobody

[2015-03-22 16:12] torindul opened #13 "Backend interface not functioning"
Hi, I can't get the backend focal point selector to function, the changes all appear on the site once the module has been installed, but all that appears on the image info is the area to select the focal point and a blank text box. Nothing happens once a focal point has been selected.

Any tips? - It would be great to put your work to use on this specific client project.

Thanks,
George.

[2015-03-22 16:44] jonom commented on #13
Hi George, if you give the readme file another quick read you should see a
note about having to flush the templates after installation (I might need
to make this a bit clearer). You can't flush templates from the database
build screen prior to the most recent versions of SilverStripe, you need to
flush from the CMS or a page on your website.. Let me know if that doesn't
fix your issue ;)
On Sun, M

[2015-03-22 17:04] torindul commented on #13
HEy Jonom,

Thanks for the quick response.

I've removed, and reinstalled the module and made sure I fully followed the instructions. Still the same result. As far as I can see, in SilverStripe 3.1.10, the new template files appear fine. I see the image and a text box, with a comma.

Nevertheless, hovering the image shows no change, and clicking it doesn't make a change either... What is supposed

[2015-03-22 18:22] jonom commented on #13
You probably already tried this but can you just visit your
site.dev/admin?flush=1 and see if that fixes it?
On Sun, Mar 22, 2015 at 10:04 AM George Botley <notifications@github.com>
wrote:

[2015-03-22 18:25] torindul commented on #13
Already tried that to no avail, you can see I even flushed the templates in one of the URLs on the screenshots. Any ideas? - It's been like this on one or two sites I've run.. Do you have any requirements for any PHP modules outside of the core SilverStripe requirements?

[2015-03-22 18:29] jonom commented on #13
Can you delete your cache folder or create a silverstripe-cache folder and
see if that helps? After that I would load up the network inspector in your
browser and see if any scripts or css is failing to load
On Sun, Mar 22, 2015 at 11:25 AM George Botley <notifications@github.com>
wrote:

[2015-03-23 17:53] jonom commented on #13
p.s. there aren't any other module requirements for this.

It looks like the javascript and/or CSS isn't loading in the CMS. It could be either that it's attempting to load them but it's not working (wrong path or permissions issue) or that it's not trying to load them at all - but that seems improbable.

I would guess it's a path issue - is the module installed in a folder named 'focuspoint' at t

[2015-03-23 18:22] torindul commented on #13
Okay, that was all it was. It was a simple case of naming the directory 'focuspoint', which, when downloaded from github is known as silverstripe-focuspoint-1.x (which i then named silverstripe-focuspoint). Renaming to focuspoint on its own solved this.

All seems to be working now, I'll have a play around. Maybe make it clear you need it named that way in the Read Me :) -- Or use relative paths f

[2015-03-23 18:22] #13 closed

[2015-03-23 18:57] jonom commented on #13
ReadMe updated. Have a good one

[2015-03-26 19:37] clintLandrum opened #14 "Crop Reference Point Defaults"
Setting 'FocusY' => '1' at https://github.com/jonom/silverstripe-focuspoint/blob/1.x/code/FocusPointImage.php#L13 doesn't seem to work. Even onBeforeWrite isn't catching it after adjusting these points and re-saving.
This could also be overwritten in YAML (much better choice I understand) but I'm just experimenting currently and not getting this to work.

[2015-03-26 20:08] jonom commented on #14
I think the default would only apply on creation of a new Image - i.e. when you upload one. Perhaps also when you install the module for the first time and build the database. Also note that if you change this value you'll have to flush SilverStripe's config cache before it will be recognised (add ?flush to a URL). If you set the default to 1, then flush the cache, then upload a new image, does it

[2015-04-09 20:10] clintLandrum commented on #14
Sorry for the delay. Yes, you were correct on everything here. Thanks and nice work on the module.

[2015-04-09 20:10] #14 closed

[2015-04-29 13:49] Martimiz commented on #6
How about creating a class like FocusPointImage extends Image to overwrite CroppedImage(), then use the injector to load the new class instead of the old. Would that work?

[2015-04-29 20:57] jonom commented on #6
It might work but I'm reluctant to subclass image as I think this could lead to incompatibility with other modules and custom code. If I force the framework to use a different class instead of Image does that mean other extensions applied to Image would be ignored? Maybe not, but if another module subclassed Image too I think you couldn't use it alongside FocusPoint?

I might be overthinking this

[2015-04-30 08:22] Martimiz commented on #6
I think any module that wants to change or enhance a core class behaviour runs the risk of conflicting with other modules, no way to totally avoid that I suppose. Thinking things through is always a good thing, I personally wouldn't call that overthinking :)

If someone were to subclass Image and use that subclass in their code, it wouldn't be using your functionality. If someone uses Image, it wo

[2015-05-01 18:52] jonom commented on #6
Thanks Martine, I'll try out your suggestion. I'm thinking it should be easy to make this optional actually - I could offer a 'no-conflict' setting that leaves things how they are and requires $CroppedFocusedImage to be used in templates, but by default I could use the injector so that $CroppedImage can be replaced. I'll let you know how it goes!

[2015-06-22 13:56] ccordina opened #15 "Focus Point for Large Landscape Images"
I am trying to debug and find a solution for this issue. Currently i have a 2880x1800 image with a focus point ( values Focus X = 0.8333333333333333, Focus Y = -0.6000000000000001) for some reason it is not generating an image cropped around the focus point. In reality it is resizing the image and setting the cropped image to the following, Top, Left, Width, Height (20-0-320-180) values.

Have you

[2015-06-22 15:41] jonom commented on #15
Hi @ccordina, it's hard for me to visualise this - can you post some screen shots of the original image and the focus point, and the resulting output? Keep in mind that FocusPoint doesn't try to zoom in or centre the focus point in the output - all it does is makes sure that the image cropping is biased towards retaining the focus point area of the image, rather than just cropping from the centre.

[2015-06-22 15:54] ccordina commented on #15
Hi @jonom  thanks for your quick reply. So i have an image container of 320 x180 and if you see the image below i am testing it on a banner which is quite long... focus point is X = -0.94, Y=-0.22222222222222232, but im getting the resultant cropped image which is not equal to what it should appear.

For portrait images its working fine.. don't know why landscape or longer images in width doesnt w

[2015-06-22 17:27] jonom commented on #15
That looks like a straight up plain old CroppedImage (cropped from the centre) :) did you update your templates to use $CroppedFocusedImage? What is the filename of the output image? It should start with 'CroppedFocusedImage'.

[2015-09-01 22:25] #15 closed

[2015-10-01 04:07] mikeyc7m opened #16 "BUG: dash in generated filename breaks filename lookups"
FocusPoint is adding a dash to the filename. This breaks the Silverstripe convention of prepending resampling information using just alphanumerics and ending with a dash. Silverstripe's File::find() expects the dash to denote the start of the original filename. It's also breaking the SecureAssets component, which returns 404 on all focuspoint images.

The problem code appears to be line 113 in Foc

[2015-10-02 02:57] jonom commented on #16
Hi @mikeyc7m I'm pretty sure this issue doesn't exist in my local development branch as I've changed the file name stuff quite a bit, but I'll leave this open as a reminder for myself to check before I release the next version. Will be doing some updates soon (famous last words) for SS 3.2 release.

[2015-11-03 07:58] guyvanbael opened #17 "Silvestripe 3.2"
Any plans for a version for Silverstripe 3.2?
CroppedImage has been replaced by Fill....

[2015-11-03 17:29] jonom commented on #17
Hi Guy, you should be able to use the current release with 3.2 - are you having trouble? The old Image methods won't be removed until 4.0 so there shouldn't be a compatibility problem. I will update the module at some point but maybe not right away if it's not necessary.

[2015-11-05 13:51] guyvanbael commented on #17
Hi, thanks for your reply.
It's not really the old image methods that are causing the problem. The focuswindow isn't showing up when editing the image (screenshot attached).
![schermafbeelding 2015-11-05 om 14 46 44](https://cloud.githubusercontent.com/assets/3098809/10970097/a3e6b4ac-83cc-11e5-88e5-87a07a41e5e3.png)

[2015-11-05 17:37] jonom commented on #17
Ah yes, that's caused by a `DataList::byID()` bug in SS 3.2.0. It will be [fixed](https://github.com/silverstripe/silverstripe-framework/pull/4725) in 3.2.1.

If you want to fix this in the mean time you just need to trigger a call to `write()` one time on all your image records like this:

[code]

This causes the Image table to be populated with any missing records.

[2015-11-05 17:37] #17 closed

[2016-02-15 19:52] jonom commented on #16
@mikeyc7m I don't think this is an issue anymore so I'm closing - but feel free to re-open if I'm wrong

[2016-02-15 19:52] #16 closed

[2016-02-15 21:34] jonom commented on #6
Okay guys this should work on the latest release - requires 3.3. and opt-in with some yml config. See ReadMe for details.

[2016-02-15 21:34] #6 closed

[2016-02-15 23:28] jonom commented on #6
In 3.4 this might even let you get focused thumbnails in the CMS. Wouldn't that be a treat? https://github.com/silverstripe/silverstripe-framework/pull/5043

[2016-05-19 11:55] bummzack opened #24 "Module doesn't work with ImagickBackend"
When using the `ImagickBackend` instead of the `GDBackend` for image manipulation, the module crashes because `ImagickBackend` lacks the `crop` method.

Not entirely sure if this should be fixed in SilverStripe core instead (eg. extending the `Image_Backend` interface with some additional methods, such as `crop` and also implement them in the `ImagickBackend`)?

[2016-05-23 10:25] micschk opened #25 "Cropper-addon"
Hi Jonom,

Thanks for your excellent modules! I've just published an a module that adds cropping to your FocusPoint module: https://github.com/micschk/silverstripe-focuspointcropper/

[2016-07-19 15:09] Chibby opened #30 "Does not play nice with Image::regenerateFormattedImages"
I've been trying to use both focuspoint and [versionedfiles](https://addons.silverstripe.org/add-ons/silverstripe/versionedfiles/?_ga=1.122609483.1910593271.1459860508), and I've noticed that versionedfiles shows errors when attempting to re-generate the formatted images made by focuspoint.

Additionally, when trying to run the /dev/tasks/RegenerateCachedImagesTask, I run into the same problems, s

[2016-07-22 12:55] Chibby commented on #30
After looking into this issue long and very hard, a colleague and me noticed it was not in fact focuspoint, but an internal derp in silverstripe. Apologies!

[2016-07-22 12:55] #30 closed

[2016-07-25 18:42] jonom commented on #24
Sorry for the delay @bummzack I was taking some time off.

Huh! Yes I think that the [Image_Backend](http://api.silverstripe.org/3.3/class-Image_Backend.html) interface ideally needs a `crop($top, $left, $width, $height)` method added as does [ImagickBackend](http://api.silverstripe.org/3.3/class-ImagickBackend.html).

Adding a new method to an interface would be a breaking change but we could add

[2016-08-22 10:38] joelgrondrup opened #32 "Php -warning with Image:CropWidth()"
[Warning] Missing argument 1 for Image::CropWidth(), called ../public/framework/view/ViewableData.php on line 446 and defined

[2016-09-15 17:13] jonom commented on #32
Hi Joel, would need a lot more information from you to do anything about this. Feel free to amend and re-open issue if you like.

[2016-09-28 15:54] wernerkrauss opened #33 "Focuspoint doesn't play well with heyday/responsive-images module"
I tried to combine focuspoint with https://github.com/heyday/silverstripe-responsive-images but it doesn't play well:

Backtrace:

my config for responsive images module:

So i try to use FocusFill as a default method for generating that image set. Fill works fine.

From what i see in the code it's because we don't have a generateFocusFill method available.

CroppedFocusedImage also throws an erro

[2016-09-29 16:10] jonom commented on #33
Hi @wernerkrauss I haven't got a lot of time to investigate stuff like this at the moment unfortunately, but if you want to dig in to it and submit a PR please feel free!

[2016-09-30 07:14] joelgrondrup commented on #32
Hi Jonom.

First of all. I was in a hurry and didn't get a chance to thank you for this awesome module.

I'm getting this error:

[Warning] imagealphablending() expects parameter 1 to be resource, boolean given ../public/framework/filesystem/GD.php:184

imagealphablending(,)
GD.php:184
GDBackend->croppedResize(,1277)
Image.php:299
Image->generateFill(GDBackend,,1277)
call_user_func_array(Array,Arr

[2016-09-30 15:25] jonom commented on #32
What does your `CropboxField.ss` template look like? Does this error persist if you remove the FocusPoint module?

[2016-09-30 15:30] jonom commented on #32
I don't think this is an issue with FocusPoint but maybe a conflict from this class: https://github.com/lekoala/silverstripe-form-extras/blob/master/code/fields/CropboxField.php

Since SS 3.2 `Image` has a [CropWidth method](http://api.silverstripe.org/3.2/class-Image.html#_CropWidth) so adding a property with the same name through an extension is not going to work.

[2016-10-19 09:07] digitall-it opened #34 "Focus point UI persistance"
The focus point gets saved, but the UI resets to the center of the picture on load each time. It doesn't load back the focus point. That probably means that you if you want to change other image properties like the title, you have to set again the focus point or it will be saved in the center.

Tested on OSX Safari.

[2016-10-19 23:45] jonom commented on #34
Hi @digitall-it, the saved focus point loads fine for me in Safari. Maybe you have a conflict with another module? Can you open up your browser console while the file interface is loading and see if there are any errors?

[2016-10-19 23:47] #32 closed

[2016-10-20 05:48] digitall-it commented on #34
Glad to know it should work, your module is awesome. Thank you for making it. As the problem seems to be installation-wise, allow me some time to fully investigate the issue.

[2016-11-15 23:08] digitall-it commented on #34
I used the module in another installation, does the same.  It saved the focus point, but if I navigate away from the image, then return to it, the cross is in the center again. If you change other details like the title of the image, the focus point resets to the center, you have to move it again in the new position. No js errors. Does the same without kickassets module. Tried with two browsers on

[2016-11-16 16:41] jonom commented on #34
Yes please can you test on a fresh install with only FocusPoint add-on. I think you should find it works in that case, then maybe try adding these modules back one at a time and see if they introduce the issue:

* silverstripe/secureassets
* thisisbd/silverstripe-fixjpeg-orientation
* bummzack/sortablefile

[2016-12-13 15:51] #24 closed

[2016-12-22 14:25] Martindoorneakamp opened #38 "Focus point is not saved on live server."
First off, thanks for the module, i like it alot.
But something strange is going on, i just moved a website to the live server, and de focuspoint plugin does not seem to work. I'm getting no errors whats so ever but each time i pick a focus point and save, the focus point gets resetted. The weird thing is that it works on our local server. And other projects on the save live server do not have the

[2017-01-02 17:29] jonom commented on #38
Maybe related to #34?

Are you using any other modules that extend or modify the Image class?

It's odd that it's working locally... I trust you ran a dev/build on live DB to add the FocusX and FocusY fields to Image?

[2017-01-02 17:35] Martindoorneakamp commented on #38
Thanks for your reply. The weird thing is that the values are getting saved in the db. But somehow don't seem to work form both the preview version in the cms, as for the frontend. I'm going to to try a fresh install, but like i said it works on the local sever. I have used the pluggin for over 10 sites, and this never happend.. The only difference that i can think off is that on the local server

[2017-01-02 17:44] jonom commented on #38
Ah, does sound like the same issue as #34 then.

[2017-01-02 17:47] #38 closed

[2017-01-02 17:47] jonom commented on #34
@Martindoorneakamp let's continue discussion here as you seem to be affected by the same issue.

[2017-01-02 18:03] digitall-it commented on #34
In my case, the focus point is correctly saved and the cropping functions work as expected. Just the UI doesn't show the changes.

@Martindoorneakamp could you check out that?

[2017-01-02 18:15] Martindoorneakamp commented on #34
In my case, the does not work, and the on the front end the focus does not get applied. But it seems like everything is getting loaded properly, And as said before an exact clone of the site is working as intended on my local mamp setup.

[2017-01-02 18:25] jonom commented on #34
@Martindoorneakamp you said though that if you make a change, it does get saved in the DB right? I am working on this right now, I think the problem is that the image is not available initially which is required to position the grid correctly. The fallback .load() method doesn't appear to be firing (image.load is known for being unreliable). I'm looking to solve it by working out all the dimension

[2017-01-02 18:30] Martindoorneakamp commented on #34
Thats the bizarre thing, it saves properly to the db and works locally, and in older versions of silverstripe. The version of silverstripe i',m experiencing the problems is 3.5.0  btw.

[2017-01-02 19:13] jonom commented on #34
Can you guys please test this fix and get back to me: https://github.com/jonom/silverstripe-focuspoint/tree/fix-image-load

[2017-01-03 12:26] Martindoorneakamp commented on #34
Thank for trying Jonom, but sadly no changes after applying your fix.

[2017-01-03 14:45] Martindoorneakamp commented on #34
I just noticed something weird, but i'm not sure if this is causing the problem:
Local the $FocusX $FocusY is outputting (Two diferrent pictures/settings):
-0.76888888888889
-0.84
Live:
0,0533333333333
-0,53125

But as you can see localy the values are printed with a ".", and Live ",".

[2017-01-03 14:57] Martindoorneakamp commented on #34
I fount out what was going wrong, my set_locale('nl_NL'); was influencing the notation off the upper fields, as shown above.

[2017-01-03 15:10] jonom commented on #34
Ahhhhhhh. Okay, so the solution could be to replace a comma if found with a period when reading the value in to the script?

[2017-01-03 15:12] jonom commented on #34
@digitall-it are you also using a locale that uses comma instead of period?

BTW I have added some debugging docs to that new branch that may be handy.

[2017-01-03 15:21] Martindoorneakamp commented on #34
Yes, i think that could work!

[2017-01-03 15:38] jonom commented on #34
Have pushed up a new fix to that branch, want to try it out? I'm still entering new numbers in the fields with period instead of comma but it sounds from what you're saying like that should work fine?

[2017-01-03 20:39] digitall-it commented on #34
Yes I use a locale that uses comma instead of period in the decimal notation!

[2017-01-03 20:42] jonom commented on #34
Looks like the mystery is solved. If one or both of you could try out that new fix and confirm it works for you, I'll do a release.

[2017-01-03 21:22] Martindoorneakamp commented on #34
I will test, and get back to you tommorow. Thanks!

[2017-01-04 14:27] digitall-it commented on #34
My tests are inconsistent: at the moment, the plugin seems to work correctly without applying the patch, so I rely too on @Martindoorneakamp's findings.

[2017-01-04 18:10] Martindoorneakamp commented on #34
I tried the update, and it does not work sadly. I have removed the locale settings for now to ensure that focuspoint works. The $FocusX and $FocusY where still printed with a ,

[2017-01-04 18:13] jonom commented on #34
@Martindoorneakamp can you post the yml you're using to set the locale? I want to try changing the locale myself, the fix I posted was just theoretical

[2017-01-05 19:25] jonom commented on #34
I tried setting the overall locale to Finnish as well as changing the locale to Finish on my member profile but I couldn't get the fields to show a value with a comma. I can't reproduce the problem so will need some steps to reproduce from you @Martindoorneakamp before I can look at it any further.

[2017-02-10 21:21] KINKCreative opened #40 "Image src(unknown) in backend & field not appearing"
I have a pretty new site - and for some reason I am not seeing the FocusPoint field appearing in the admin.

https://www.dropbox.com/s/ifwg9g6zrho3b87/Screenshot%202017-02-10%2013.20.17.png?dl=0

I have tried various SS versions, updating the module - so I'm not sure -- I may be missing sometihng.

[2017-03-15 08:45] tungdt-90 opened #41 "Not Compatible with Silverstripe 4"
Hi,

I want to ask, is there any chance that this module can be used in Silverstripe 4 ? I use this module a lot and would like to continue using it in the next release of Silverstripe.

[2017-03-22 18:34] jonom commented on #40
Sorry have been away, did you sort this out?

[2017-03-22 23:23] jonom commented on #41
I will definitely aim to upgrade this for SS4 at some point. If anyone wants to do the work and open a pull request before I do, please feel free :)

[2017-04-19 15:40] lerni opened #42 "PHP7.1"
CroppedFocusedImage with focuspoint 2.4.* and SilverStripe 3.6.*@dev on PHP 7.1.3 throws a [Notice] like: A non well formed numeric value encountered. This happens on line 285@FocusPointImage.php

	$widthRatio = $this->owner->width / $width;

A possible fix is to sanitize parameters like:

	$width = intval($width);
	$height = intval($height);

Probable other methods need this too. Would you accept

[2017-04-24 17:43] jonom commented on #42
Thanks @lerni. How do you encounter this error? Do you need to pass in a weird argument like `$FocusFill(100, 'twenty')`?

[2017-04-24 17:43] #42 closed

[2017-05-08 12:35] lerni commented on #42
@jonom you are right! Somehow a '$' after width made it into template and than the Notice started to appear with PHP >= 7 but didn't with 5.6

[2017-05-24 00:52] pitchandtone commented on #41
@jonom could you provide a cost to get it upgraded? I have a motivated client.

[2017-05-24 14:52] jonom commented on #41
@pitchandtone can you send me an email please and we can discuss - jonomenz@gmail.com

[2017-06-04 23:37] xini commented on #33
hey @wernerkrauss have you ever been able to fix this? Cheers

[2017-06-07 06:54] wernerkrauss commented on #33
@xini Nope, i downgraded FocusPoint for this specific project and didn't investigate much further. My compsoer.json has this entries:

[code]

[2017-06-07 08:12] xini commented on #33
@wernerkrauss yeah, same... ;)

[2017-06-08 05:15] thats4shaw opened #44 "Image_Cached injector support"
I've inherited a project that uses this addon and after upgrading to SilverStripe 3.6.0 i've run into a bunch of interesting warnings.

[User Warning] DataObject::__construct passed The value 'random/image.jpg'. It's supposed to be passed an array, taken straight from the database. Perhaps you should use DataList::create()->First(); instead?

The error appears to be trigger by this change https://

[2017-06-08 20:06] jonom commented on #44
Yes, it does look like FPImage would be useful now!

However, I'm surprised that your fix would work. I wonder if it could be a coincidence? Sometimes with image stuff in SilverStripe, because the images are cached and there is some protection against re-trying crashing manipulations, you don't get the same result every time. For instance if the warning above is only generated when a manipulated i

[2017-06-08 20:37] thats4shaw commented on #44
I flushed the cache multiple times yesterday before I delved into the rabbit hole yesterday however I just flushed again multiple times again to be sure with and without my fix and I can confirm the warnings still persist when my fix isn't in place.

I tend to agree with you about the introduction of a possible regression.

[2017-06-21 15:22] asecondwill opened #45 "FocusPoint stopped outputting Images on front end"
I've had focuspoint on our site for a while.  It's stopped working with a composer update when it jumped to 2.4

Error is

`[User Warning] DataObject::__construct passed The value 'assets/article-images/_resampled/CroppedFocusedImageWyI1NzQiLCIzMDUiLCJ5Iiw2Ml0/stairs.jpg'. It's supposed to be passed an array, taken straight from the database. Perhaps you should use DataList::create()->First(); ins

[2017-06-21 15:24] asecondwill commented on #45
composer file for ref
``
"silverstripe/framework": "3.5.*",
        "silverstripe/cms": "3.5.*",
        "silverstripe/lumberjack": "^1.1",
        "silverstripe/tagfield": "^1.2",
        "silverstripe/timepickerfield": "^1.0@dev",
        "silverstripe/googlesitemaps": "^1.5",
        "silverstripe/embargoexpiry": "dev-master",
        "silverstripe/gridfield-addons": "dev-master",
        "uncl

[2017-06-21 15:39] asecondwill commented on #45
rolling back to my previous composer lock file fixes this

[code]

[2017-06-22 20:31] jonom commented on #45
Probably the same issue: https://github.com/jonom/silverstripe-focuspoint/issues/44

[2017-07-02 22:50] minimalic commented on #44
The same error here after SilverStripe update from 3.5.3 to 3.5.4. Focuspoint 2.4.0 on SS 3.5.3 works well. So it seems the commit `1d36f35 ` has broken some image manipulation extensions like focuspoint and [https://github.com/restruct/silverstripe-svg-images/issues/2](https://github.com/restruct/silverstripe-svg-images/issues/2)

[2017-07-03 18:41] jonom commented on #44
Hi guys, I just tried FocusPoint 2.4.0 with SS 3.5.4, SS3.6 and SS3.6-x-dev and couldn't replicate this issue anywhere.

Do you guys maybe have some other module installed that is messing with Image or Image_cached classes?

Can you try a clean install of SS with only this module added on and see if you're still getting errors?

[2017-07-03 18:43] jonom commented on #45
Discussion is ongoing at https://github.com/jonom/silverstripe-focuspoint/issues/44 temporary solution is probably to roll back to SS 3.5.3

[2017-07-03 18:43] #45 closed

[2017-07-03 18:44] #40 closed

[2017-07-21 02:57] grgcnnr commented on #44
I'm experiencing the same thing. I'll see if i can figure out if any other modules are interfering / Do a minimal SS install.

Either way, Injector supports Image_cached so that's a win right?

:)

[2017-07-21 03:45] grgcnnr commented on #44
Found it - for me at least.

If your your app.yml contains the override for Image like:
[code]

You'll get the error @thats4shaw @minimalic and myself are seeing.

Just tested on a barebones setup. based on SS3.5 can upload if you want.

[2017-07-26 19:33] jonom commented on #44
Thanks @grgcnnr yep, that triggers the issue, and I was able to get @thats4shaw's fix working once I realised `_cached` has a capital C... doh! I will push a fix soon.

[2017-07-26 20:30] #44 closed

[2017-07-26 20:41] jonom commented on #44
Fix is on the 2.5.0 release. Please note I renamed the commented-out `FPImage_cached` class to `FPImage_Cached` for consistency with `Image_Cached`.

You'll need:
[code]

[2017-08-13 07:23] sminnee commented on #41
...now that beta1 is out you shouldn't be chasing a moving target any more ;-)

[2017-09-13 17:21] jonom opened #46 "Injector use blocks Image table building"
Including the Injector yml for [method replacement](https://github.com/jonom/silverstripe-focuspoint/blob/master/docs/en/advanced-usage.md#method-replacement) seems to prevent the Image table from being added during dev/build. Commenting out the yml allows the table to be built, then it can be re-added. Not a nice solution though.

[2017-11-07 15:37] wernerkrauss opened #47 "Please provide a CHANGELOG"
Makes upgrading from old projects easier

[2017-11-08 06:59] wernerkrauss commented on #33
@xini https://github.com/heyday/silverstripe-responsive-images/pull/17 might help...

[2017-11-08 07:16] xini commented on #33
@wernerkrauss thanks. https://github.com/heyday/silverstripe-responsive-images/pull/18 seems to solve this once and for all.

[2017-11-20 08:37] hoodweb commented on #41
Is there any news regarding ss4 compatibility?

[2017-11-20 16:55] jonom commented on #41
@hoodweb no news, when I can justify the time on a project I'll certainly get it done but there is no timeline. It should be pretty straightforward to upgrade so if you need it upgraded soon please feel free to open a pull request for SS4 compatibility and I will review promptly. You're also welcome to contact me if you want to sponsor the work.

[2017-11-21 14:39] hoodweb commented on #41
@jonom I believe it could be complicated due to the upload field being React now? I'll maybe look at it, if a project comes up with time to spare.

[2017-11-21 16:49] jonom commented on #41
True! I haven't looked in to it yet but hopefully it won't be too much of a hurdle.

[2017-11-23 00:01] jonom commented on #41
I was curious about this so had a look. The good news is that the fields in the file detail form are still built with good old fashioned PHP. Unfortunately it's custom built rather than relying on `getCMSFields()`... not sure what the reasoning was for that but it's not really a problem. We should be able to hook in to `SilverStripe\AssetAdmin\Forms\AssetFormFactory::getFormFields` with the `updat

[2018-01-04 10:32] youpixxl commented on #41
Hi and thanks for your great work :-)
Did you make progress on ss4 upgrade ?

[2018-01-04 16:26] jonom commented on #41
@youpixxl It will probably be months before I can work on this in my spare time unfortunately. I have a toddler now and don't have a lot of spare time to give to open source work anymore. I will promptly review pull requests though, so please feel free to do the upgrade yourself! I'm also happy to talk to anyone who wants to sponsor me to do the upgrade work (contact me directly to discuss).

[2018-01-04 16:50] bummzack commented on #41
@jonom I know how you feel, I'm in a similar situation. I used this module a lot in SS3 and I really wish there was a version for SS4. Did the offer from @pitchandtone not work out?

[2018-01-04 19:15] pitchandtone commented on #41
The project we were going to use it on didn’t go ahead in the end. No doubt this will get used at some point in 2018 though.

Sent from my iPhone

[2018-01-16 13:01] bummzack commented on #41
I have started working on a SS4 update of this.
@jonom Are you happy with the namespace `Jonom\FocusPoint`? You should also branch the current `master` as `2`, so that further development on the 2.x release line can go into `2`. When I'm ready with my PR, I'm going to create it against `master`… this seems to be in line with how it's being done in SS core modules. I hope that's alright with you.

[2018-01-16 16:13] jonom commented on #41
@bummzack I apologise, I should have left a message here - I started upgrading this module last week, after Joel Grondrup kindly pitched in some development budget to get the ball rolling. The heavy lifting is mostly done and I'll post a dev branch shortly you can try out.

[2018-01-16 16:17] bummzack commented on #41
@jonom Oh, good to hear. I guess you're also waiting for this to get resolved then: https://github.com/silverstripe/silverstripe-asset-admin/issues/718. Or how are you doing the react integration?

[2018-01-16 16:22] bummzack commented on #41
I also considered replacing the `FocusX` and `FocusY` fields on Image with a `DBComposite` field.

So the basic extension would no longer do:
[code]

but rather:
[code]

It would open up future enhancements where you might even have multiple focus-points on one object. But I guess this is not the proper place for this… I could open a separate issue though if you like.

[2018-01-16 16:44] jonom commented on #41
I couldn't find any examples or docs or information at all about customising React elements in SS4, so I'm still using entwine. I had to hook in to the redux store to get the field changes recognised but apart from it's pretty much ignoring React currently.

Sure, open an issue if you like :) I'm not sure if it would be of major benefit though, so might be more trouble than it's worth?

[2018-01-16 16:51] bummzack commented on #41
Yeah, documentation is scarce. This one is pretty much all there is: https://docs.silverstripe.org/en/4/developer_guides/customising_the_admin_interface/reactjs_redux_and_graphql/

I _really_ wonder how you integrate this with entwine though? Asset-Admin is 100% react, and the uploadfield component uses react as well. I guess I'll see when you publish your branch :)

The main reason for a single f

[2018-01-16 18:11] jonom commented on #47
There is one coming in the next version

[2018-01-16 18:11] #47 closed

[2018-01-16 18:11] jonom commented on #46
Removed Injector support for now in SS4 version

[2018-01-16 18:11] #46 closed

[2018-01-16 18:11] #34 closed

[2018-01-16 18:19] #33 closed

[2018-01-16 19:57] jonom commented on #41
Thanks for those docs, I'll take a look.

The extra fields are added through PHP, then styled and entwine behaviour added with LeftAndMain extra requirements. You can access the redux store from anywhere with `window.ss.store` so I'm updating the form state by dispatching an action from the entwine code.

[2018-01-16 19:59] jonom commented on #41
Okay, I've pushed a new branch. Anyone wanting to test this can install with

[code]

Let me know how you go!

**Known issues:**
* When working with images in the CMS outside of the Files section (e.g. HTMLEditorField insert), the editing form is disabled for some reason. I assume maybe this will be restored at some point? Currently the FocusPoint field is still active in that context, but you can

[2018-01-17 09:56] bummzack commented on #41
Awesome, thanks for your work on this. Just installed it and will give it a try.
Regarding unit-tests, I was able to make them work. Feel free to copy/modify from my repo: https://github.com/bummzack/silverstripe-focuspoint/tree/wip/ss4/tests

[2018-01-17 12:42] bummzack opened #48 "SS4: Getting server error when editing a non-image File"
Eg. when I click a PDF or other non-image File in asset-admin, I get an error message as follows:

[2018-01-17 19:41] #48 closed

[2018-01-17 20:47] jonom commented on #41
Sweet, thanks for that! I have updated the tests in the dev branch.

[2018-01-18 17:49] jonom commented on #41
@bummzack what do you think about the state of the dev branch? I'm certainly open to your idea about using a composite DB field and integrating with the react layer 'properly' rather than tacking on the functionality like I have. If you want to explore that I'll hold off on merging/releasing for now.

[2018-01-18 19:49] bummzack commented on #41
@jonom It works better than I expected, I never thought that tacking something onto a react app with entwine would work :)
The change from entwine to react could also happen in a minor release, but for the shift from two individual fields to a composite field it would require a major version change. So this might be something worth considering doing before releasing the SS4 version.

Benefits I co

[2018-01-18 19:58] bummzack commented on #41
Not sure if something like this would work too:

[code]

So that you could attach an image to multiple DataSources and set the focus point on the relation. For the rare use case where you want the same image but different focus-points on different pages.

[2018-01-18 21:10] bummzack commented on #41
@jonom I'll give this a try, if you don't mind (eg. implement the focus coordinates as a composite field).

[2018-01-18 21:21] jonom commented on #41
Sure :) just keep in mind upgrading, would need a script to migrate from the old schema. Ideally this would happen automatically.

[2018-01-18 22:31] pitchandtone commented on #41
https://github.com/dnadesign/silverstripe-migraterelations might be of use if you’ve changed the DB structure.

Sent from my iPhone

[2018-01-18 22:36] bummzack commented on #41
@pitchandtone Nice, thanks for the tip. I'll look into that but I guess it's not going to be *that* complicated to warrant requiring another module. I'm pretty much done with changing to a composite DB-field and will finish tomorrow.

[2018-01-30 20:16] jonom commented on #41
Latest version with @bummzack's work included has been tagged **3.0.0-beta.1** if anybody wants to give it a whirl.

[2018-01-30 21:29] gorriecoe opened #51 "Disabled picker obvious ss4"
The picker needs to be more obvious when disabled on ss4.  Perhaps a different pointer icon.

[2018-01-30 21:50] gorriecoe commented on #41
Initial tests look good.  Only a minor observation mention in #51

[2018-01-30 22:08] bummzack commented on #51
You mean that the disabled state should be more obvious? Eg. a distinct difference between enabled and disabled?

[2018-01-30 22:17] gorriecoe commented on #51
Sorry yes that is what I mean.  Below is a screen shot of the disabled state.
![screenshot-2018-1-31 silverstripe - edit page](https://user-images.githubusercontent.com/11811440/35594415-f7e92500-0677-11e8-8e70-be09c06cf198.png)

[2018-01-30 22:29] jonom commented on #51
Maybe we leave the crosshairs but put a grey 🔒 or 🚫 in the corner.

The focus point should also not change when the image is clicked if the field is disabled / read-only.

[2018-02-13 09:19] youpixxl commented on #41
Hi !
I have implemented the upgrade and it works great. Again thanks a lot for your hard work !

[2018-02-13 17:39] #41 closed

[2018-02-13 17:39] jonom commented on #41
3.0.0 release has been tagged

[2018-02-20 04:05] zanderwar opened #52 "Focus point broken when viewing file outside of asset admin"
The javascript hasn't been included in all locations where focuspoint appears by default. The "file selector" dialog on an `UploadField` is missing this functionality, the FocusPointField appears, but you cannot alter the x,y position.

Lead's to a tedious double handling scenario

#ss4

[2018-02-20 08:57] bummzack commented on #52
Not a bug, this is by design. You can't save files in the insert-file dialog, so you won't be able to store the changed coordinates. All other files are read-only as well. Probably also related to #51

I guess a nicer solution would be if you could open/edit the focus-point directly on the upload-field without having to open the insert-file dialog.

[2018-02-21 20:14] zanderwar commented on #52
What about an ajax solution? You can disable the buttons while the request is active? Calling it a PITA would be going gentle on it as appreciative as I remain for being able to do it in the first place

[2018-02-21 20:21] bummzack commented on #52
Can you elaborate what you mean? You mean saving the focus-point as soon as it has been altered? I think that would be pretty bad UX wise, as you usually do your changes and confirm them by saving (same behavior as in asset-admin).

The insert file dialog isn't meant to be used for modifying file properties at all. I don't think it would be wise to enable editing there. Maybe the focus-point field

[2018-02-21 22:43] zanderwar commented on #52
I just consider a scenario like my own where the folders that these files belong in live alongside 30,000 other images. So uploading a file, saving and then having to go to asset admin and find the file is just excruciating.

[2018-02-21 23:26] jonom opened #53 "Can't edit focus point outside of Files section"
When working with images in the CMS outside of the Files section (e.g. HTMLEditorField insert), the editing form is disabled for some reason. I am guessing the SS4 team ran out of time to make this work in SS4.0, but expect it may be added in in a later release, as inline editing was available in SS3 in (e.g. on UploadFields).

Editing the focus point currently requires a trip to the Files section

[2018-02-21 23:27] jonom commented on #52
Hi @zanderwar this is a known issue but I hadn't documented it well. See https://github.com/jonom/silverstripe-focuspoint/issues/53

[2018-02-21 23:27] #52 closed

[2018-02-28 17:36] sparkcom opened #54 "focuspointfiled doesnt' exist?"
in CMS's asset manager, when i click on an image, i got ' Injector.get(): Component FocusPointField does not exist'  on the right column.

[2018-02-28 17:38] sparkcom commented on #54
ah, it's because the  resources/jonom web folder not accessible

[2018-02-28 19:50] bummzack commented on #54
`composer vendor-expose` should fix that

[2018-03-16 09:59] ArminEden commented on #53
with silverstripe 4.1 is there a way to use focus point for example in the uploadfields again?

[2018-03-22 02:12] pxwee5 opened #55 "Template won't output FocusFillMax Links"
[code]
Tried these settings, only the ones without FocusFillMax have links. The first one does not have a link at all.

[2018-03-22 03:30] jonom commented on #55
Does `$Image.FillMax(1024,512).AbsoluteLink` work? If not, this would be an issue in the framework rather than this module.

[2018-03-22 08:07] bummzack commented on #55
Seems like these are missing on `DBFile`. It might be on purpose… `AbsoluteURL` and `URL` always work though.

[2018-03-22 19:48] bummzack commented on #55
Yeah… seems like `Link` was fixed, whereas `AbsoluteLink` is still missing: https://github.com/silverstripe/silverstripe-assets/pull/110

[2018-04-15 05:17] pxwee5 opened #56 "Unpublished Image FocusPoint value is NULL"
With Image versioned now in SS4, newly uploaded (still in draft) image should have its FocusPointX and Y automatically set to 0.

[2018-05-01 13:09] hp7 commented on #55
Could this be the same issue?
$FeaturedImage.FocusScaleMaxWidth(610).Link
won't output in template

[2018-05-01 15:56] jonom commented on #55
@hp7 does `$FeaturedImage.FocusScaleMaxWidth(610).URL` work?

[2018-05-01 16:46] hp7 commented on #55
No, nothing is returning still

[2018-06-01 07:55] lekoala opened #57 "attach to file instead of image?"
Hey!

Just a quick question. I'm currently fighting in my projects to reduce the number of tables generated by silverstripe (simply to make dumps faster, etc)

Attaching the extension on the image create three new table Image, Image_Live and Image_Versions

Although it makes more sense to attach it to the image, do you think it could make sense to actually attach the extension to all files? Or at

[2018-06-01 14:46] jonom commented on #57
_I_ wouldn't do that, and I wouldn't accept a PR to make that the default behaviour, but if you want to do that in your own projects I can't think of any reason off the top of my head that it shouldn't work :)

[2018-06-01 14:46] #57 closed

[2019-01-31 14:54] digitall-it opened #58 "Call to a member function getX() on null"
When trying to use this fantastic focuspoint plugin with Silverstripe 4.3 and Elemental 4, got this error, even if trying to edit images from the Files UI directly:
[code]

![schermata 2019-01-31 alle 15 48 12](https://user-images.githubusercontent.com/3578378/52062037-07446b00-2570-11e9-8e72-d6ad402d54cd.png)

At first it seemed to work, then something bad happened. Tried to uninstall and reinsta

[2019-02-07 08:17] lerni opened #59 "FocusFill doesn't check wether owner exists"
If an Image gets deleted but references still exists, FocusFill & FocusFillMax 'll error like: "Uncaught InvalidArgumentException: Width is required". A check like if ($this->owner->exists()) in FocusFill would prevent this. Would it be aceptable to just wrap the return in such a condition?

[2019-02-07 17:13] lerni commented on #59
probable some more exist-checks are needed to fix https://github.com/jonom/silverstripe-focuspoint/issues/58

https://github.com/jonom/silverstripe-focuspoint/blob/master/src/FieldType/DBFocusPoint.php#L32
https://github.com/jonom/silverstripe-focuspoint/blob/master/src/Forms/FocusPointField.php#L83

[2019-02-07 17:50] jonom commented on #59
Thanks @lerni. Any chance you would like to open a PR to fix this?

[2019-02-07 19:47] lerni commented on #59
Yeah, with pleasure. So you think what I said is the right approach?

[2019-02-08 00:09] jonom commented on #59
I think so, but maybe you could check what the behaviour is for built-in methods. Like if you call `Fill` instead of `FillMax` in the same situation does it fail silently or throw an error? Replicating the native behaviour for consistency is probably the best way to go.

[2019-02-09 09:56] digitall-it commented on #58
Trying to debug the problem with @lerni, we found out the culprit is the translations. To replicate the problem, just switch the CMS to italian.

The problem is that the fix (hardwire the FocusPoint string) makes the UI appear but it isn't usable. So the suggested course of action, for now, is simply to nuke all localizations while a proper workaround is found.

[2019-02-12 15:52] neilcreagh commented on #53
Latest version of Silverstripe 4.3 has same issue, but worse because the Focuspoint edit area is shown, but doesn't work. Viewing an image from the uploadfield (where the image was added) will show the file, same as in the Files area but in a modal. Focuspoint doesn't work in this, but does work via the Files area.

[2019-02-12 17:36] jonom commented on #53
I think that happened prior to 4.3 too. It's definitely not ideal. If it can't be editable at the moment, perhaps we can at least improve the experience. Maybe when you hover over a read-only focuspoint field, a button could be overlaid that says "Edit" and opens up the Files area in a new window?

I don't have time to work on this right now but PRs are always welcome!

[2019-04-01 10:56] mlewis-everley commented on #53
I think this issue is related to: https://github.com/silverstripe/silverstripe-asset-admin/issues/813

In summary, there is discussion as to how the edit form should be implemented and its functionality. I don't think think `FocusPointField` can be editable via the `InsertMediaModal` (used on the `UploadField`) until the issue I linked to is resolved.

[2019-04-01 11:27] mlewis-everley commented on #53
Also @jonom I am getting another issue, I am not sure if it is related to this issue, or if it should be seperate. If I try to add a `FocusPointField` to a custom `Form` (in this case, one managed via a `GridFieldDetailForm`) then the `FocusPointField` doesn't display?

I am guessing this is because the the React component isn't binding to the legacy entwine form? But I am having no luck trying to

[2019-04-04 00:00] jonom commented on #53
I'm super short on time guys sorry, but I will aim to quickly review any PRs that come in. I haven't actually touched the React side of this project yet so @bummzack would be better placed to provide input on that if available.

[2019-05-14 19:31] ChrissiQ commented on #54
I am having this problem in SilverStripe 4.3 with version 3.0 of this module.  `composer vendor-expose` does not fix it - the dist js/css files are loading fine.

This is the error appearing in the browser console:
[code]

[2019-06-10 09:12] neilcreagh opened #60 "Compatible with Silverstripe 4.4.1 - latest stable release?"
Just starting a new project with Silberstripe's latest stable release v4.4.1 but I think FocusPoint isn't compatible — it's crashing the file viewer/editor and I'm getting Error: Injector.get(): Component FocusPointField does not exist

I tried composer vendor-expose but no joy — any ideas for a quick fix?

[2019-06-10 15:02] aletail commented on #60
I can confirm, seeing the same issue with v4.4.1. To reproduce:
- simply attempt to view any image in the file section

[2019-06-11 06:04] RuthAdele commented on #60
Same issue over here.

[2019-06-11 06:08] aNickzz commented on #60
Yea, whatever is going on is also affecting the file selector for upload fields;

I get this on CMS page load (not sure if its related)
[code]
and this when selecting an image
[code]

[2019-06-11 09:18] kinglozzer commented on #60
https://docs.silverstripe.org/en/4/changelogs/4.4.0/#upgrade-to-react-16-in-the-cms

Looks like this module will need to include the `prop-types` package manually from now on: https://www.npmjs.com/package/prop-types

[2019-06-11 09:41] kinglozzer commented on #60
PR here: https://github.com/jonom/silverstripe-focuspoint/pull/61

[2019-06-12 17:13] #60 closed

[2019-06-12 17:28] jonom commented on #60
Thanks all for the reports, and especially Loz for the fix!

[2019-06-12 20:31] azt3k commented on #54
Have filed a pull request for this issue https://github.com/jonom/silverstripe-focuspoint/pull/62

[2019-07-01 22:53] jonom commented on #59
Fixed with #63

[2019-07-01 22:53] #59 closed

[2019-07-02 15:35] lerni commented on #59
thank you @mikenz, somehow just never made it.

[2019-07-10 08:56] kinglozzer opened #64 "Unnecessary filesystem reads for images"
https://github.com/jonom/silverstripe-focuspoint/blob/09ae334655b0156c91aab0ceb2f2de13a7063d4f/src/FieldType/DBFocusPoint.php#L197-L222

Putting all of this _outside_ of the `$image->manipulateImage(function() { ...` closure means that even if the resampled copy exists already, focuspoint will still check the dimensions of the image. The `getWidth()`/`getHeight()` calls can result in expensive ope

[2019-07-10 17:24] jonom commented on #64
Good catch Loz! Looks like this code is still structured like an SS3 Image method, I hadn't noticed the change in SS4 (where it looks like pretty much everything should go in the `manipulateImage` closure) and didn't realise there was a performance penalty.

Yes that should be fine. If you're up for it please feel free to refactor and open a PR. Feel free to change whatever you need/want to, if it

[2019-08-21 08:26] kinglozzer opened #65 "Internal server error in asset-admin if file is missing"
If the underlying file for an image is missing, clicking the file in the assets admin section results in an internal server error:

Which comes from here:

https://github.com/jonom/silverstripe-focuspoint/blob/16dedb9549e719bf5d1030eb84f664f7b7a69e8f/src/Forms/FocusPointField.php#L86-L90

I think we just need an `if ($previewImage)` check in there somewhere, I’m not sure what happens if you omit t

[2019-08-21 21:42] jonom commented on #65
Hmm that sounds just like this issue: https://github.com/jonom/silverstripe-focuspoint/issues/59 are you running 3.1.1?

[2019-08-27 08:36] kinglozzer commented on #65
Yeah I am on 3.1.1, #59 sounds similar but I think it’s a different cause

[2019-09-10 08:48] nikitakulish opened #66 "SS4. Y Axis is wrong in UI element"
When selecting focus point on Image in the panel Y Axis is returning wrong values. From the jquery focus point axis you get https://github.com/jonom/jquery-focuspoint/raw/master/demos/img/grid.png that top image should return Y=1, bottom Y=-1 but at the moment it is opposite.

Regarding this the module does not work out of the box with jquery focuspoint

i suggest that this should be noted in the

[2019-09-30 06:28] #51 closed

[2019-11-06 17:39] spekulatius opened #68 ""Uncaught Error: Call to a member function getX() on null""
Hey @jonom,

I wonder if I missed anything on how to get this up and running. I installed the focuspoint module v3.1.1 via composer on my project (CMS + FW: 4.4.4). Afterwards, I've cleared the silverstripe-cache/ folder and ran dev/build?flush=all. Then I added:

[code]

to a Data Object and ran dev/build again. The image field got generated as expected. The CMS gives me this error afterwards:

!

[2019-11-10 14:56] spekulatius commented on #68
Okay, I've found out that I can't add the focus point field to the DataObject/Page the Image is owned by. It's only accessible in the assets section. I feel like having the ability to have the field where I connect the image from would be great. Maybe something for a future feature?

[2019-11-10 14:56] #68 closed

[2019-12-02 11:09] purplespider commented on #64
Ah ha. So this could be why I've been getting 503 errors due to a site hitting it's 1GB LVE memory limit (PHP limit set to 256GB), at seemingly random times or always on a `flush=1`, which don't occur if I disable focus point.

Any temporary workaround?

[2019-12-17 18:22] jonom commented on #65
Fixed by https://github.com/jonom/silverstripe-focuspoint/pull/74 thanks @kinglozzer and @ohararyan!

[2019-12-17 18:22] #65 closed

[2019-12-17 18:58] jonom commented on #66
Sorry for the lack of reply here, good catch.

Maybe we introduce a `FocusCoord($axis, $convertToLeftTopOffset = true, $multiplier = 1)` method for front-end use. Then we could update the examples to use `FocusCoord('y', false, -1)` to get right value for jQuery FocusPoint v1, `FocusCoord('y')` for v2 (unreleased) and update `PercentageY()` to use `FocusCoord('y', true, 100)` internally.

[2019-12-17 19:02] jonom commented on #58
This appears to be the same issue as https://github.com/jonom/silverstripe-focuspoint/issues/65 and should be fixed with https://github.com/jonom/silverstripe-focuspoint/pull/74

[2019-12-17 19:02] #58 closed

[2019-12-17 19:06] jonom commented on #56
@pxwee5 sorry for allowing this issue to become ancient. `getX()` and `getY()` both cast the db value to a double. `(double) null === 0` so this shouldn't be a problem.

[2019-12-17 19:06] #56 closed

[2019-12-17 19:15] jonom commented on #55
Just tested in SS4.4 and all of these work fine:

* $FocusFillMax(100, 100).Link
* $FocusFillMax(100, 100).URL
* $FocusFillMax(100, 100).AbsoluteLink

[2019-12-17 19:15] #55 closed

[2019-12-17 19:16] #54 closed

[2019-12-17 19:20] jonom commented on #25
@micschk sorry I never got around to trying this out 😬 if you ever [upgrade for SS4](https://github.com/micschk/silverstripe-focuspointcropper/issues/8) I'll be happy to reference this in the ReadMe.

[2019-12-17 19:20] #25 closed

[2019-12-17 20:29] #53 closed

[2019-12-17 20:33] jonom commented on #53
Looked at the code today and found @bummzack had already implemented read only support 😄 just a little tweak was needed to activate it in this context. The field will now show as read only in the insert media dialogue and won't respond to clicking. I'd say this addresses the UX issue and the greater issue of being able to edit files in the insert media dialogue is a framework issue. If and when su

[2019-12-17 20:37] jonom opened #75 "FocusPoint is not adjusted after cropping"
See https://github.com/jonom/silverstripe-focuspoint/pull/73#issuecomment-565644702

[2020-01-09 15:31] banglashi opened #76 "Call to a member function getX() on null"
Hi @jonom,

first of all thanks for the great module.
I noticed a weird error wich I get in the cms when opening a single view of a file `Call to a member function getX() on null`. When you create the FocusPointField you pass in 3 parameters, $name, $title and $image. On the title you pass in $image->fieldLabel('FocusPoint') which translates to "Focus point".

https://github.com/jonom/silverstripe

[2020-01-09 17:35] jonom commented on #76
Can you try the dev-master branch? The same error was [reported previously](https://github.com/jonom/silverstripe-focuspoint/issues/65) and hopefully fixed, but it hasn't been released yet.

[2020-01-10 11:41] banglashi commented on #76
dev-master works. Thanks.

[2020-01-10 11:41] #76 closed

[2020-01-28 19:15] jonom opened #77 "Test should run when pull requests are opened"
Instead of after merge in to master.

[2020-05-06 19:08] jonom commented on #77
Done, had to migrate Travis to use Github Apps

[2020-05-06 19:08] #77 closed

[2020-05-06 19:10] jonom commented on #64
Reopening because I need to revert the original fix as it broke a test 😢

[2020-05-07 08:28] kinglozzer commented on #64
@jonom Sorry I never got round to looking at this! The issue was that the crop data (which changed and broke the tests) is fetched by `calculateCrop()`, which needs the original image dimensions to work. The original image dimensions are cached, but if that cache is cleared (on deploy or flush) it means re-opening the image to fetch them again.

 I can’t spot any nice way around this. I wonder if

[2020-05-11 19:14] jonom commented on #64
@kinglozzer Yeah if that's possible that would be great. I'm also wondering what the impact of this issue is... are you getting 503 errors like @purplespider ? I'm keen to understand why so much memory is getting used... I would have expected that after one image was processed, the memory was released before going on the next one. If that's not happening I guess you could call that a memory leak a

[2020-05-12 08:19] kinglozzer commented on #64
I’m not sure, my issue wasn’t memory limits (but then we use Imagick instead of GD so wouldn’t expect to hit memory limits) but timeouts if a page had a large number of images.

[2020-05-12 12:26] purplespider commented on #64
@kinglozzer I reckon if you checked memory usage just before it timed out, it would be using excessive memory above any specified PHP limits.

In many scenarios, the memory spike may go unnoticed, as it will just use as much memory as it needs, possibly going into swap, so no error occurs unless it hits the max execution time before it finishes. But on hosting such as CloudLinux where there is a h

[2020-05-15 18:18] #75 closed

[2020-06-29 22:27] jonom commented on #64
Sort of related, I'm currently implementing a background-resampling strategy for images on a project. The idea is that you can ask for a resampled image, but you'll only get it if it's already been generated. If not, it doesn't get generated on-the-fly, instead it is queued to be generated later.

The use case would be a page (or a JSON feed) where you have hundreds of resampled images and would r

[2020-06-30 09:46] purplespider commented on #64
Certainly sounds an interesting project. Personally, I wouldn't have a need for this, as displaying a placeholder image would be undesirable in my projects, if anything I'd probably prefer to just display the original, non-resampled, image rather than a placeholder.

While I understand the technical reasons for it, it has always struck me as suboptimal that images are resampled on the next page lo

[2020-06-30 16:51] jonom commented on #64
@purplespider yeah that's the approach I'm taking. The `onAfterWrite()` (or other trigger) doesn't actually produce the resampled image, it just adds it to a queue.

[2020-11-29 22:38] michalkleiner opened #89 "V2 to V3 migrations script fails during first dev/build after SS4 upgrade (adding versioned to files)"
Since 3.1.3, if the migration is executed during the same dev/build as when the `Image_Live` and `Image_Versions` tables are created, the migration fails with

[code]

It's possible the migration is triggered before the extra versioning related tables are created.

[2020-11-30 22:41] jonom commented on #89
Took me a while to click on what's happening here 😄, but I can see that the [migration scrip](https://github.com/jonom/silverstripe-focuspoint/blob/master/src/Dev/FocusPointMigrationTask.php#L69) is making an assumption that the Live and Versions table would exist, and they would at this point, but it's also assuming that they would have the same fields as the base table, which would not be true i

[2020-12-01 00:10] michalkleiner commented on #89
Thanks for your reaction, @jonom!

Yes, I can confirm it happened when we ran `dev/build` for the first time after all composer dependencies were upgraded to SS4, including this module. It only became an issue with 3.1.3 which introduced the versioned tables handling, it wasn't a problem with 3.1.2.

As a workaround, we ran two subsequent releases, one with 3.1.2, ran dev/build, then 3.1.3, ran de

[2021-02-17 02:00] tractorcow commented on #64
You can assign this back to me, I'm going to look at this issue now. I need it for a project that's crashing due to memory issues.

[2021-02-17 02:04] tractorcow commented on #64
I think we'll need to cache width / height, but not in way that is really accessible to core silverstripe (without core changes of course).

DBFile would need to store it on a property, but Image could cache it in the DB.

[2021-04-19 07:46] sb-relaxt-at commented on #76
From my understanding this issue is not resolved (using the latest 3.1.3 release). It only happens when the field label resolves to something different from "Focus Point". From my limited testing it should be sufficient if the parent constructor of FocusPointField is called prior setting name and value.

[2021-05-13 07:47] micschk commented on #64
@jonom one approach I once implemented (on a SS3 project) is for images which are not yet resampled in the desired format, to return a reference to a `/resampled/$ImgID/$Format` URL/controller function instead of resampling it on the fly.

I placed this URL in the session as well, the resampling method then tests if the user has the requested URL in the session (prevent DOS), resamples, and redire

[2021-06-08 10:26] RoyalPulp commented on #89
Hi,
just got into this issue again !! ...while converting a rather large project from SS3 to SS4
Any chance, this could be resolved?
Is there any fast workaround?
Thanks, Hendrik

[2021-06-26 20:27] #64 closed

[2021-09-08 21:20] davejtoews opened #98 "FocusCropHeight appears to be broken after upgrade to 4.0"
Attempting to use some code that worked properly in 3.x I end up with the following error in 4.0

[code]

[2021-09-10 13:59] micschk opened #99 "Make disabled state of picker more obvious"
Not sure where else to put this but the picker 'seems' active when viewing an image in view-mode (form disabled). Clients try to alter the focus point but this doesn't change as it's disabled. Only after clicking the 'Details' button, the focuspoint can actually be altered.
<img width="87" alt="Screenshot 2021-09-10 at 15 56 06" src="https://user-images.githubusercontent.com/1005986/132864702-6c04

[2021-09-10 14:47] micschk commented on #51
2021 version: https://github.com/jonom/silverstripe-focuspoint/issues/99

[2021-09-10 19:21] jonom commented on #99
@micschk totally feel you on this, intended do something like this but never got around to it. This has been done now, tagged [4.0.1](https://github.com/jonom/silverstripe-focuspoint/releases/tag/4.0.1).

[2021-09-11 08:35] micschk commented on #99
Great jonom, thx!

[2021-09-11 08:35] #99 closed

[2021-09-11 08:43] micschk opened #100 "Picker position (preview) not updated after save & publishing image (refresh needed)"
When a user changes the position of the focuspoint in the CMS fileSelectForm modal and then publishes the file, the UI returns to read-only mode (greyed & dimmed preview). But at this point the FP picker's position is not updated to reflect the new value (remains at its previous position).

Upon closing & reopening this modal, the picker does reflect the new FP position (so the new value gets save

[2021-09-16 16:28] jonom commented on #100
@micschk do you know if the same thing happens to other fields? Like if you change the title, is that immediately reflected in the read-only form? Just wondering if this is something that should be fixed in this module, or core.

[2021-09-16 16:29] jonom commented on #100
I know I see `DRAFT` badges all the time on things in Silverstripe that I know are published so it wouldn't be the first time something didn't get updated immediately 😅

[2021-09-28 06:12] eehondas commented on #98
+1 on this. Exact same error.

[2021-10-29 18:01] micschk opened #102 "Y axis inverted between SSv3 and v4 version of module (between module v2 and v3/4)"
Upon updating a project from Silverstripe 3 to 4 (yeah I know) all focuspoints seemed a bit off vertically. It only now occurred to me that the Y axis has been [swapped](#66 ) not just in the [UI element](https://github.com/jonom/silverstripe-focuspoint/blob/88d8b2d5c356591809de5f8cb00fd2334595e855/client/src/components/FocusPointPicker.jsx#L26) but altogether in the whole module (which is good, o

[2021-10-29 18:13] jonom commented on #102
This is supposed to take care of that but maybe it got broken at some point? https://github.com/jonom/silverstripe-focuspoint/blob/master/src/Dev/FocusPointMigrationTask.php

[2021-10-30 06:13] micschk commented on #102
My bad! And no it's not broken, just runs out of memory every ~100 images locally. Have about 100.000 images to update so took a look at this migrationtask and thought it just updated the table columns; didn't notice the line inverting its value...

I'll just have to run the migration script lot's of times then...

[2021-10-30 06:13] #102 closed

[2021-10-30 06:55] micschk commented on #102
OK, so this whole issue is not an issue at all. Migrationtask is running just fine and within seconds. Nevermind...

[2021-11-03 22:22] #98 closed

[2021-12-06 14:31] lerni commented on #98
@micschk with this merged (4.0.2) now we see `[Notice] Undefined index: Width` instead of `[Emergency] Uncaught Error: Call to a member function getWidth() on array`

I suggest https://github.com/jonom/silverstripe-focuspoint/pull/103

Line 80
[code]

Line 98
[code]

[2022-01-19 03:44] RuthAdele commented on #89
Same issue here. Also fixed just by running dev build again.

[2022-05-31 08:51] olifen7 opened #106 "Compatibility with Silverstripe 4.10.0"
We recently upgraded one of our sites to use PHP8 and Silverstripe 4.10.0 - it appears that something has changed and silverstripe-focuspoint is no longer compatible. No errors occurred in the build process but when navigating to an individual file in the CMS the following error displays in the console: `Error: Injector.get(): Component FocusPointField does not exist`.

I'm flagging this early int

[2022-07-15 12:28] seppzzz opened #107 "no popup - window appearing"
Sorry!
Please delete this.
sepp.